/* Start Variables */
:root {
    --main-color: #7fa365;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --main-transition: 0.3s;
    --section-background: #ececec;
}

/* End Variables */
/* start selection color */
/* Code for Firefox */
::-moz-selection {
    color: rgb(255, 255, 255);
    background: var(--main-color);
}

::selection {
    color: rgb(255, 255, 255);
    background: var(--main-color);

}

/* end selection color */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Roboto', sans-serif !important; */
    background-color: #eeee;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */
/* Start Header */
.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}
.header .down-menu:after{
    font-family: "Font Awesome 5 Free";
    content: "\f0d7";
    font-weight:600;
    margin-left: 10px;
    color: var(--main-color);

}
.header .main-nav {
    padding-bottom: 0;
    padding-left: 0px !important;
    display: flex;
}
@media (max-width: 767px) {
    .header .main-nav {
        margin: auto;
    }
}

.header .main-nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);
    text-decoration: none;
}

@media (max-width: 767px) {
    .header .main-nav>li>a {
        padding: 5px;
        font-size: 12px;
        height: 40px;
    }
}

.header .main-nav>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

/* .header .main-nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
} */

.header .main-nav>li>a:hover::before {
    left: 0;
}
.header .mega {
    position: absolute;
    /* width: 100%; */
    /* left: 0; */
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 1px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}
.header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 1px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width: 767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}
.header .mega-menu .image{
    max-width: 500px;
}
.header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width: 991px) {
    .header .mega-menu .image {
        display: none;
    }
}

.header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

.header .mega-menu .links li {
    position: relative;
}

.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
    .header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}

.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
}

.header .mega-menu .links li:hover::before {
    width: 100%;
}

.header .mega-menu .links li a {
    text-decoration: none;
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;

}

.header .mega-menu .links li a i {
    margin-right: 10px;
}


@media (max-width: 767px) {
    .header .mega {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}
.header .mega .image{
    max-width: 500px;
}
.header .mega .image img {
    max-width: 100%;
}

@media (max-width: 991px) {
    .header .mega .image {
        display: none;
    }
}

.header .mega .links {
    padding-left: 0px;
    /* min-width: 100px; */
    flex: 1;
}

.header .mega .links li {
    position: relative;
}

.header .mega .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
    .header .mega .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}

.header .mega .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
}

.header .mega .links li:hover::before {
    width: 100%;
}

.header .mega .links li a {
    text-decoration: none;
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;

}

.header .mega .links li a i {
    margin-right: 10px;
}
/* End Header */
/* start slider */

@media (min-width:991px) {
    .carousel-inner .content {
        height: calc(100vh - 72px);
    }
}

.carousel-inner .image {
    position: relative;
}

.carousel-inner .image::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .4);

}

.carousel-inner .content .text {
    color: white;
}

.carousel-inner .content button {
    background-color: white;
}

.carousel-inner a {
    text-decoration: none;
    border-radius: 10px;
    color: white;
    transition: 0.3s;
    border: 1px solid rgb(255, 255, 255);
}

.carousel-inner a:hover {
    color: var(--main-color);
    background-color: white;
}

/* end slider */
/* start icon */
.icons i {
    color: #7fa365;
    padding: 15px;
    border: 3px solid #7fa365;
    border-radius: 60px;
}

/* end icon */
/* start about  */
.about h3 {
    color: #096f00;
}

.about hr {
    height: 2px;
    width: 90%;
}

.about .image {
    max-width: 100%;
}

.about .image img {
    width: 55%;
    /* height: 25%; */
}

/* end about  */
/* start video */
.video iframe {
    max-width: 100%;
}

/* end video */
/* ----------start Services------- */
.services {
    padding-top: var(--section-padding);
    padding-bottom: 100px;
}

.services h2 {
    color: var(--main-color);
    text-align: center;
    font-size: 55px;

}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width:767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .srv i {
    font-size: 35px;
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .srv .text {
    flex: 1;
}

.services .services-content .srv h3 {
    margin: 0 0 20px 0;
}

.services .services-content .srv p {
    color: #777;
    line-height: 1.6;
    text-align: justify;
}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image::before {
    content: '';
    background-color: var(--main-color);
    position: absolute;
    height: calc(100% + 100px);
    width: 100px;
    top: -50px;
    left: 0;
    z-index: -1;
    transition: 1s;
}

@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}

.services .services-content .image img {
    width: 260px;
}

/* ----------end Services------- */
/* Start Work Steps */
.work-steps {
    padding-top: var(--main-padding-top);
    padding-bottom: calc(40px + var(--section-padding));
    position: relative;
    background-color: var(--section-background);
}

.work-steps .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .work-steps .container {
        flex-direction: column;
    }
}

.work-steps .image {
    width: calc(50%);
    margin-left: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 991px) {
    .work-steps .image {
        display: none;
    }
}

.work-steps .image .one {
    display: none;
    transition: 0.3s;
}

.work-steps .image img {
    max-width: 100%;
    height: 396.07px;

}

.work-steps .image .circles {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    width: 280.16px;
}

.work-steps .image .circles button {
    border: 0px;
}

.work-steps .image .circles button i {
    color: rgb(158, 158, 158);
    font-weight: bold;
    transition: 0.3s;
}

.work-steps .image .circles button i:hover {
    color: var(--main-color);
}

@media (max-width: 991px) {
    .work-steps .image {
        margin: 0 0 50px;

    }
}

.work-steps .info {
    width: calc(100% - 10px);
}

.work-steps .info .box {
    background-color: #f6f5f5;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    position: relative;
    z-index: 1;
}

@media (max-width: 767px) {
    .work-steps .info .box {
        flex-direction: column;
        text-align: center;
    }
}

.work-steps .info .box::before {
    content: "";
    left: 50%;
    top: 50%;
    position: absolute;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    z-index: -1;
    transition: var(--main-transition);
}

.work-steps .info .box:hover::before {
    width: 100%;
    height: 100%;
}

.work-steps .info .box img {
    width: 64px;
    margin-left: 30px;
}

@media (min-width: 992px) {
    .work-steps .info .box img {
        display: none;
    }
}

@media (max-width: 767px) {
    .work-steps .info .box img {
        margin: 0 0 30px;
        width: 100%;
    }
}

.work-steps .info .box h3 {
    margin: 0;
    font-size: 22px;
}

.work-steps .info .box p {
    color: #777;
    line-height: 1.7;
    text-align: justify;
    margin: 10px 0 0;
    font-size: 18px;
}

/* End Work Steps */
/* strat blrub */
.blurb {
    padding-top: 120px;
    padding-bottom: 100px;
}

.blurb .container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .blurb .container {
        flex-direction: column;
    }

    .blurb .container .image {
        width: 100% !important;
        padding-bottom: 20px;
    }

    .blurb .container .content {
        width: 100% !important;
    }
}

.blurb .container .image {
    width: calc(50% - 20px);
}

.blurb .container .image img {
    width: 100%;
}

.blurb .container .content {
    width: 50%;
    line-height: 1.8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.blurb .container .content img {
    padding-bottom: 40px;
}

.blurb .container .content .text {
    text-align: justify;
}

.blurb .container .content .text h5 {
    font-size: 20px;
    padding-bottom: 20px;
}


.blurb .container .content a {
    text-decoration: none;
    color: var(--main-color);
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 50px;
    margin: 50px auto;
    transition: 0.3s;
}

.blurb .container .content a:hover {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: white;
}

/* end blrub */
/* start video section */
.video-sction {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-gap: 50px;
}

.video-sction .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .video-sction .container {
        flex-direction: column;
    }
}

.video-sction .container iframe {
    max-width: 585px;
}

.video-sction .container .text {
    line-height: 1.8;
    max-width: 585px;
    text-align: justify;
    padding: 20px;
}

@media (max-width: 991px) {
    .video-sction .container .text {
        text-align: justify;
        padding-bottom: 20px;
    }

    .video-sction .container iframe {
        width: 100%;
    }
}

.video-sction .container .text h3 {
    padding-bottom: 40px;
}

.video-sction .container .text p {
    width: 100%;
}

/* end video section */


/* End Animation */





/* start Our-partners */
.Our-partners{
    padding-top: var(--main-padding-100px);
    padding-bottom: var(--main-padding-100px);
    background-color: white;
}
.Our-partners .arrows i{
    background-color: #eee;
    cursor: pointer;
}
.Our-partners .arrows i:hover{
    color: var(--main-color);
}
.Our-partners .main-image-holder{
    max-width: 770px;
    padding: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.Our-partners .main-image-holder::-webkit-scrollbar{
    display: none;
}
.Our-partners .image{
    min-width: 165px;
    min-height: 190px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(28,47,90,.08);
    transition: 0.1s;
}
.Our-partners .image img{
    width: 100%;
    padding: 10px;
}
.Our-partners .image:hover img{
    filter: grayscale(0%);
}
.Our-partners .image img{
    filter: grayscale(100%);
}
/* end  Our-partners */