/* star haeder  */
.container-fluid {
    position: relative;
    padding: 0 80px !important;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav .webicon {
    width: 120px;

}

nav .webicon img {
    padding: 10px;
    width: 100%;
}

nav .links {
    margin: auto 0;
}

nav .links .list .main-last {
    display: flex;
    padding: 0;
    margin: 0;
    /* margin: auto; */
}

nav .links .list .main-last .main {
    padding: 20px 25px;
    transition: 0.3s;
}

nav .links .list .main-last .main a {
    text-decoration: none;
    color: black;
}
/* show mega-menu-1 */
nav .links .list .mega-1:hover #mega-menu-1 {
    z-index: 1;
}
/* show mega-menu-2 */
nav .links .list .mega-2:hover #mega-menu-2 {
    z-index: 1;
}

nav .links .list .main-last .main:hover {
    background-color: var(--second-color);
    color: white;
}

nav .links .list .main-last .main:hover>a {
    color: white;
}

nav .links .list .main-last .main:hover div>a {
    color: white;
}

nav .links .list .main-last .main div {
    display: flex;
    align-items: center;
}

nav .links .list .main-last .main div i {
    font-weight: 900;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;

}

/* mage menu for mega-menu-1 */
nav .links .list ul #mega-menu-1 {
    display: none;
    position: absolute;
    padding: 0 0;
    grid-template-columns: repeat(4, 1fr);
    top: 100%;
    display: grid;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 50vh;
    background-color: var(--second-color);
}

nav .links .list ul #mega-menu-1 .image {
    background-image: url(../media/backgroud-1.jpg);
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

nav .links .list ul #mega-menu-1 .image {
    position: relative;
    width: 100%;
}

nav .links .list ul #mega-menu-1 .image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

nav .links .list ul #mega-menu-1 .image .text {
    padding: 50px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    color: white;
}

nav .links .list ul #mega-menu-1 .image .text h4 {
    line-height: 1.9;
    font-weight: bold;
}

nav .links .list ul #mega-menu-1 .image .text h6 {
    line-height: 1.9;
    font-weight: bold;
}

nav .links .list ul #mega-menu-1 .image .text a {
    color: var(--second-color);
    border: 1px solid var(--second-color);
    border-radius: 20px;
    margin: 20px 0 0;
    font-weight: bolder;
    padding: 5px 10px;
    background-color: var(--main-color);
}

nav .links .list ul #mega-menu-1 ul {
    display: flex;
    flex-direction: column;
}

nav .links .list ul #mega-menu-1 ul h3 {
    padding-bottom: 20px;
    color: white;
}

nav .links .list ul #mega-menu-1 ul li {
    padding-bottom: 10px;
}

nav .links .list ul #mega-menu-1 ul li a {
    color: var(--main-color);
}

nav .links .list ul #mega-menu-1 ul>a {
    margin: 20px 0 0;
    padding: 5px 10px;
    width: fit-content;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    color: white;
}

nav .links .list ul #mega-menu-1 ul>a:hover {
    border-color: white;
    color: var(--main-color);
}


/* mage menu for mega-menu-2 */


nav .links .list ul #mega-menu-2 {
    display: none;
    position: absolute;
    padding: 0 0;
    grid-template-columns: repeat(4, 1fr);
    top: 100%;
    display: grid;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 50vh;
    background-color: var(--second-color);
}

nav .links .list ul #mega-menu-2 .image {
    background-image: url(../media/backgroud-2.jpg);
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

nav .links .list ul #mega-menu-2 .image {
    position: relative;
    width: 100%;
}

nav .links .list ul #mega-menu-2 .image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

nav .links .list ul #mega-menu-2 .image .text {
    padding: 50px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    color: white;
}

nav .links .list ul #mega-menu-2 .image .text h4 {
    line-height: 1.9;
    font-weight: bold;
}

nav .links .list ul #mega-menu-2 .image .text h6 {
    line-height: 1.9;
    font-weight: bold;
}

nav .links .list ul #mega-menu-2 .image .text a {
    color: var(--second-color);
    border: 1px solid var(--second-color);
    border-radius: 20px;
    margin: 20px 0 0;
    font-weight: bolder;
    padding: 5px 10px;
    background-color: var(--main-color);
}

nav .links .list ul #mega-menu-2 ul {
    display: flex;
    flex-direction: column;
}

nav .links .list ul #mega-menu-2 ul h3 {
    padding-bottom: 20px;
    color: white;
}

nav .links .list ul #mega-menu-2 ul li {
    padding-bottom: 10px;
}

nav .links .list ul #mega-menu-2 ul li a {
    color: var(--main-color);
}

nav .links .list ul #mega-menu-2 ul>a {
    margin: 20px 0 0;
    padding: 5px 10px;
    width: fit-content;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    color: white;
}

nav .links .list ul #mega-menu-2 ul>a:hover {
    border-color: white;
    color: var(--main-color);

}
/* end haeder  */