:root {
    --main-color: #7fa365;
    --transparent-color: rgba(143, 122, 15, 0.7);
    --section-padding: 30px;
    --main-transition: 0.3s;
    --section-background: #ececec;
}

/* Start Articles */
.articles {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.articles .box {
    position: relative; /* تأكد من أن العنصر .box يحتوي على موقع نسبي لضبط حجم ال iframe */
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}

.articles .box iframe {
    position: absolute; /* جعل الإطار يحتوي على موقع مطلق ليمتد على كامل العنصر .box */
    top: 0;
    left: 0;
    width: 100%; /* جعل العرض يمتد على كامل العنصر .box */
    height: 100%; /* جعل الارتفاع يمتد على كامل العنصر .box */
}


.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.articles .box img {
    width: 100%;
    max-width: 100%;
}

.articles .box .content {
    padding: 20px;
    height: 100%;

}

.articles .box .content h3 {
    margin: 0;
    font-size: 18px;
}

.articles .box .content p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}

.articles .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .box .info a {
    color: var(--main-color);
    font-weight: bold;
}

.articles .box .info i {
    color: var(--main-color);
}

.articles .box:hover .info i {
    animation: moving-arrow 0.6s linear infinite;
}

/* End Articles */